@{
    ViewBag.Title = "Dự án Thi Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div style="background:#333;;padding:120px;margin-top:140px;clear:both" class="box">
        <h2 style="text-align:center" class="breadcrumb-title text-white uppercase">Dự Án Thi Công</h2>

    </div>

    </div>
<div class="best-sell-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="product-carousel">
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="https://image2.tin247.com/pictures/2019/08/10/hjc1565397486.jpeg" alt="" /></a>                       
                        </div>
                        <div class="box-content">
                        </div>
                        <div class="product-content">
                           <h4 class="text-project">Hoàn Thiện cái đmmmmmmmm</h4>
                            <div class="pro-title">
                                <ul class="list-group">
                                    <li class="list-group-item">Khách Hàng:</li>
                                    <li class="list-group-item">Địa Chỉ:</li>
                                    <li class="list-group-item">Ngày Hoàn Thành:</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="https://image2.tin247.com/pictures/2019/08/10/hjc1565397486.jpeg" alt="" /></a>
                        </div>
                        <div class="box-content">
                        </div>
                        <div class="product-content">
                            <h4 class="text-project">Hoàn Thiện cái S</h4>
                            <div class="pro-title">
                                <ul class="list-group">
                                    <li class="list-group-item">Khách Hàng:</li>
                                    <li class="list-group-item">Địa Chỉ:</li>
                                    <li class="list-group-item">Ngày Hoàn Thành:</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="https://image2.tin247.com/pictures/2019/08/10/hjc1565397486.jpeg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="https://image2.tin247.com/pictures/2019/08/10/hjc1565397486.jpeg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/4.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/11.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/5.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/10.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/5.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/9.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/6.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/9.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/7.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-40">
                        <div class="product-img">
                            <a href="#"><img src="img/product/8.jpg" alt="" /></a>
                            <span class="new-label">New</span>
                            <div class="product-action">
                                <a href="#"><i class="pe-7s-cart"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-folder"></i></a>
                                <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-title">
                                <h3><a href="product-details.html">Cras Neque Metus</a></h3>
                            </div>
                            <div class="price-reviews">
                                <div class="price-box">
                                    <span class="price product-price">$262.00</span>
                                    <span class="old-price product-price">$262.00</span>
                                </div>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

