
@{
    ViewBag.Title = "Nội Thất Hồng Ngọc-Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
        <div class="about">
            <div class="about-left">
                <h3>Chúng Tôi Là Ai?</h3>
            </div>
            <div class="about-right">
                <p>Với kinh nghiệm nhiều năm trong lĩnh vực thiết kế và thi công nội thất, Hoàng Gia Nội Thất tự hào trở thành lựa chọn ưu tiên của người dân Hà Nội với những sản phẩm tủ bếp ấn tượng, tiện ích và tiện nghi từ thiết kế tân cổ điển cho đến hiện đại.</p>
            </div>
        </div>    
        
    </div>
</div>
