
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
    </div>
</div>
<div id="information-information" class="container">

    <div class="row">
        <div class="col-order">
            <div id="content" class="col-sm-12">
                <h1>Nội Thất Hồng Ngọc </h1>
                <p>
                    Nội thất  Hồng Ngọc được thành lập và hoạt động với mong muốn cung cấp các dịch vụ Tư vấn thiết kế và thi công nội thất chuyên nghiệp đáp ứng một cách đồng bộ các nhu cầu của nhà đầu tư trong các lĩnh vực Kiến trúc - Nội thất - Cảnh quan.
                </p>
                <p>
                    Nội thất  Hồng Ngọc chúng tôi với đội ngũ cán bộ tư vấn thiết kế - thi công đông đảo, có trình độ cao, đồng bộ, có nhiều kinh nghiệm trong công tác tư vấn thiết kế và thi công kiến trúc nội thất, với đầy đủ tư cách pháp nhân, giấy phép hành nghề,…Nội thất  Hồng Ngọc đã và đang từng ngày, từng giờ thực hiện công tác tư vấn thiết kế Kiến trúc, trang trí nội thất, cảnh quan,… cho các chủ đầu tư là các cá nhân, tổ chức tư nhân trên khắp Việt Nam. Các Kiến trúc sư, kỹ sư xây dựng, kỹ sư điện, nước, hạ tầng, họa sỹ cảnh quan, nội thất cùng với đội ngũ chuyên gia thuộc trường Đại học Kiến trúc Hà Nội, cán bộ giàu kinh nghiệm thực tế được hỗ trợ bởi nền tảng nghiên cứu lý luận trình độ sâu luôn luôn sẵn sàng với nhiệt huyết cao nhất để mang đến cho khách hàng những công trình có chất lượng, đạt trình độ và đẳng cấp quốc tế.
                </p>

                <h4>Nội Thất Hồng Ngọc:</h4>
                <p>
                     Trở thành đơn vị số 1 trong lĩnh vực tư vấn thiết kế và thi công nội thất, ngoại thất nhà ở cao cấp tại Việt Nam.
                </p>

                <h4>* 6 Lý do khách hàng ưa thích và lựa chọn Nội Thất Hồng Ngọc:</h4>
                <ol style="list-style-type: decimal;padding-left:30px;">
                    <li>
                        <h5>1. Không cần mặc cả:</h5>
                        <p>
                             Các sản phẩm được bán với giá thấp nhất có thể. Khách hàng không phải mất thời gian khảo giá trước khi mua. Với sứ mệnh của một đơn vị dẫn đầu, Khang Trang luôn cam kết không bán phá giá – nhằm giữ vững quyền lợi của khách hàng. Rất nhiều khách hàng sau mua các sản phẩm được bán với giá quá thấp so với quy định (được quảng cáo là đại hạ giá) khiến sản phẩm bị nhà sản xuất từ chối bảo hành.</span>
                        </p>
                    </li>
                    <p></p>
                    <li>
                        <h5>2. Chính sách đổi hàng :</h5>
                        <p>
                             nếu khách hàng chưa ưng ý với sản phẩm thì có thể đổi sang sản phẩm khác sau 3 ngày.
                        </p>
                    </li>
                    <p></p>
                    <li>
                        <h5> 3. Hàng mới liên tục:</h5>
                        <p>
                            Nội Thất Hồng Ngọc liên tục nhập sản phẩm mới tại nhiều nhà phân phối khác nhau nên khách hàng sẽ có cơ hội sử dụng các sản phẩm mới nhất trên thị trường với mẫu mã cực kỳ phong phú và đa dạng cùng tiêu chí đẹp, tiện dụng.
                        </p>
                    </li>
                    <li>
                        <h5> 4. Phục vụ nhiệt tình:</h5>
                        <p>
                            đến với Khang Trang bạn sẽ luôn được tiếp đón và phục vụ nhiệt tình. Khách hàng có thể góp ý hoặc khiếu nại về thái độ phục vụ không tốt thông qua đường dây nóng hoặc qua website.
                        </p>
                        <h5> 5. Tư vấn trực tuyến 24/7.</h5>

                        <h5>   6. Luôn có các chương trình khuyến mãi, quà tặng hấp dẫn để tri ân khách hàng.</h5>
                        

                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

